.div{
    background-size: cover;
    background-position: center;
    padding:50px;
    text-align: center;
    color :blue;
}

.heading {
    font-size: 3rem;
    margin-bottom: 20px;
}

.paragraph{ 
    color:black;
    background-color: azure;   
}

